#loancal{
    width: 375px;
    height: 295px;
    background-color: #000;
    color: #fff;
    margin-left: 274px;
    margin-top: 95px;
    /* margin: 95px 0px 0px 275px; */
    padding-left: 90px;
    padding-top: 20px;;
}

#amount, #months, #interest_rate{
    width: 175px;
    height: 20px;
}

h1{
    font-size: 40px;
}