body{
    background-color: #58b1e7;

}
/* .clockContainer{
    background-color: #000398;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 190px;
    padding-top: 5px;
    position: relative;
} */

#clock{
    /* font-family: 'Rokkitt', serif;
    font-size: 5em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: #f2f205;
    text-align: center;
    color:#1b1b0f; */
    color: #fff;
    font-size: 5em;
    background-color: #000;
    padding: 0.5em 0em;
    width: 80%;
    height: auto;
    margin: auto;
    font-family: Helvetica, Arial;
    text-align: center;
    /* position: relative; */
}

#banner{
    /* color: #fefefe;
    font-size: 5em;
    background-color: #000;
    padding: 0.5em 0em;
    width: 80%;
    height: auto;
    margin: auto;
    font-family: Helvetica, Arial;
    text-align: center; */
    color: #fefefe;
    font-size: 50px;
    text-align: center;
    background-color: #EB6C52;
    padding: 0.5em 0em;
    width: 80%;
    margin: auto;
    font-family: Helvetica;
    text-transform: uppercase;
}

span{
    margin-left:0px;
}